.header__lang-link {
  color: #fff;
  margin: 0;
  padding: 0;
  padding-left: 18px;
  padding-bottom: 6px;

  box-sizing: border-box;

  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 117%; /* 116.667% */
  text-decoration: none;

  justify-self: center;
}

@media screen and (max-width: 800px) {
  .header__lang-link{
    font-size: 18px;

  }
}
