.place__title {
  padding: 0;
  margin: 0;
  max-width: 440px;
 
  color: #fff;
  font-family: Inter;
  margin-bottom: 3.75vw;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 105%; /* 105.556% */
  
}

@media screen and (max-width: 966px) {
  .place__title {
    font-size: 42px;

  }
}
