.intro__title {
  margin: 0;
  padding: 0;

  width: 70%;

  color: #fff;
  font-family: Inter;
  font-size: 54px;
  font-style: normal;
  font-weight: 900;
  line-height: 58px; /* 107.407% */
  text-align: left;
}

@media screen and (max-width: 1150px) {
  .intro__title {
    width: 75%;
  }
}

@media screen and (max-width: 1005px) {
  .intro__title {
    width: 100%;
  }
}
