.lead__title {
  margin: 0;
  padding: 0;

  /* margin-left: 280px;
  margin-right: 280px;*/
  max-width: 720px;

  color: #fff;
  font-family: Inter;
  text-align: center;
  align-self: center;
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: 104%; /* 104.167% */
  letter-spacing: 1.8px;
  word-spacing: -3px;

}

@media screen and (max-width: 720px) {
  .lead__title {
    font-size: 40px;
    line-height: 110%;  
    letter-spacing: normal;
    word-spacing: normal;
  }
}
