.lead__image {
  margin: 0;
  padding: 0;
  width: 100%;
  margin-top: 66px;
  object-fit: cover;
  object-position: center center;
}

@media screen and (max-width: 1150px) {
  .lead__image {
    margin-top: 52px;
  }
}

@media screen and (max-width: 500px) {
  .lead__image {
    margin-top: 40px;
  }
}
