.lead {
  margin: 0;
  padding: 0;
  width: 77vw;
  align-self: center;

  margin-top: 56px;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-content: center;
}

@media screen and (max-width: 1150px) {
  .lead {
    width: 89vw;
  }
}
