.footer {
  margin: 0;
  padding: 0;
  margin-top: 92px;
  margin-bottom: 24px;
  width: calc(100% - 96px);
  box-sizing: border-box;

  align-self: center;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
  .footer {
    margin-top: 90px;

    width: calc(100% - (22px * 2));
  }
}

@media screen and (max-width: 738px) {
  .footer {
    margin-top: 64px;
    margin-bottom: 24px;
    flex-direction: column;
    justify-content: left;

    
  }
}
